#Achievements {
    background-color: #F3E3D0;
    padding: 15px;
    margin: 40px;
    border-radius: 8px;
}

#Achievements .pagination {
    padding: 15px;
}

#Achievements ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#Achievements li {
    list-style-type: none;
}

#Achievements li {
    padding: 4px;
    border-radius: 8px;
}

#Achievements li:hover {
    background-color: #D2C4B4;
    cursor: pointer;
}

#Achievements a {
    color: black;
}

#Achievements .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#Achievements .modal-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 70vb;
    width: 90%;
}

#Achievements .modal-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}

#Achievements .modal-description {
    display: flex;
    flex-direction: column;
}

#Achievements .modal-body .image-container {
    flex-shrink: 0;
}

#Achievements .image-container img {
    max-width: 300px;
    width: auto;
    height: auto;
    display: block;
}

#Achievements .image-container .image {
    border-style: dashed;
    border-color: red;
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Achievements .image-container .image a {
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #F3E3D0;
}

#Achievements .image-container .image a:hover {
    background-color: #D2C4B4;
}