#title {
    font-size: 1.5rem;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: #AACDDC;
    margin: 0;
    padding: 5px 10px;
    top: 0;
}

header > nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 8px;
}

header a:hover {
    background-color: #81A6C6;
}